.liste {
    padding : 10px;
    list-style: none;
}

.item {
    padding : 50px;
    list-style: none;
    
}

.item:nth-child(odd) {
    background-color: lightgray;
}

ul {
    padding: 0;
    margin: 0;
    }

.col-md-12 {
    padding : 10px;
}

#profile {
    color: white;
}

.boutons {
    margin : 5px;
}